.env
*.log
*.db

jellyfin/config/
jellyfin/cache/

media/*
!media/movies/
!media/tv/
!media/music/
!media/movies/.gitkeep
!media/tv/.gitkeep
!media/music/.gitkeep

grafana/data/
prometheus/data/

.DS_Store
Thumbs.db




